In [3]:
import pymongo

In [10]:
my_client = pymongo.MongoClient("mongodb://localhost:27017/")

my_db = myclient["mydb"]

In [6]:
emp_id = my_db['empId']
emp_fname = my_db['EmpFname']
emp_lname = my_db['EmpLname']
department = my_db['Department']
project = my_db['Project']
address = my_db['Address']
dob = my_db['DOB']
gender = my_db['Gender']
emp_position = my_db['EmpPosition']
date_of_joining = my_db['DateOfJoining']
salary = my_db['Salary']

In [14]:
emp_id.insert_many([{"1" : 1},{"2" : 2 },{"3" : 3},{"4" : 4},{"5" : 5}])
emp_fname.insert_many([{"1" : "Sanjay"},{"2" : "Ananya" },{"3" : "Rohan"},{"4" : "Sonia"},{"5" : "Ankit"}])
emp_lname.insert_many([{"1" : "Mehra"},{"2" : "Mishra" },{"3" : "Diwan"},{"4" : "Kulkarni"},{"5" : "Kapoor"}])
department.insert_many([{"1" : "HR"},{"2" : "Admin" },{"3" : "Account"},{"4" : "HR"},{"5" : "Admin"}])
project.insert_many([{"1" : "P1"},{"2" : "P2" },{"3" : "P3"},{"4" : "P1"},{"5" : "P2"}])
address.insert_many([{"1" : {"City" : "Hyderabad(HYD)", "State" : "Telangana"}},{"2" : {"City" : "Delhi(DEL)" }},{"3" : {"City" : "Mumbai(BOM)", "State" : "Maharashtra"}},{"4" : {"City" : "Hyderabad(HYD)", "State" : "Telagana"}},{"5" : {"City" : "Delhi(DEL"}}])
dob.insert_many([{"1" : {"Month" : 1, "Day" : 12, "Year" : 1976}}, {"2" : {"Month" : 2, "Day" : 5, "Year" : 1968}}, {"3" : {"Month" : 1, "Day" : 1, "Year" : 1980}}, {"4" : {"Month" : 2, "Day" : 5, "Year" : 1992}}, {"5" : {"Month" : 3, "Day" : 7, "Year" : 1994}}])
gender.insert_many([{"1" : "M"},{"2" : "F" },{"3" : "M"},{"4" : "F"},{"5" : "M"}])
emp_position.insert_many([{"1" : "Manager"},{"2" : "Executive" },{"3" : "Manager"},{"4" : "Lead"},{"5" : "Executive"}])
date_of_joining.insert_many([{"1" : {"Month" : 1, "Day" : 5, "Year" : 2022}}, {"2" : {"Month" : 2, "Day" : 5, "Year" : 2022}}, {"3" : {"Month" : 1, "Day" : 5, "Year" : 2022}}, {"4" : {"Month" : 2, "Day" : 5, "Year" : 2022}}, {"5" : {"Month" : 1, "Day" : 5, "Year" : 2022}}])
salary.insert_many([{"1" : 500000},{"2" : 75000 },{"3" : 90000},{"4" : 85000},{"5" : 300000}])